body {
    background-color:blue;
    background-image: url(./IMG/HTML.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    }
#kap3{
    background-color: aquamarine;
}
    img {
        height: 50;
        width: 50;
    }

#kap1 {
    background-color: blueviolet;
    color: rgb(41, 131, 33);
}

#kap2 {
    background-color: brown;
    color: red;
}

#kap3 {
    background-color: chartreuse;
    color: rgb(12, 85, 85);
}